
 body{
     box-sizing: border-box;
 }
header,main {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
button{
    width: 80px;
    border-radius: 10px;
    background-color: rgb(182, 175, 165);
    cursor: pointer;
    
}
button:hover{
    background-color:rgb(156, 152, 152);
}
